.main-content{
    background: gray;
    margin-left: 260px;
    padding: 20px;
}
body {
  margin: 0;
  min-height: 100vh;
  background-image: url('../../images/windows-10-dark-logo-4k-m0-3840x2160.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar{
    width: 260px;
    height: 100vh;
    background: rgb(157, 153, 153);
    color:rgb(4, 4, 4);
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar .logo{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    letter-spacing: 1px;
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-list li{
    margin: 8px 0;
    cursor: pointer;
}

.nav-list li a{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 20px;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5s ease;
    font-size: 16px;
}
 
.nav-list li a:hover{
    background: black;
    color: #fff;
    padding-left: 26px;
}
