* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h1 {
    color: #e9dada;
}
label {
    color: #e9dada;
}
.po{
    color: #ece5e5;
}
body {
  margin: 0;
  min-height: 100vh;
  background-image: url('windows-10-dark-logo-4k-m0-3840x2160.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.wrapper {
    width: 420px;
    background: rgb(42, 41, 41);
    padding: 35px 40px;
    border-radius: 12px;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: #f4f4ee;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 0 45px 0 20px;
    font-size: 15px;
    color: #070707;
}

.input-box i {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #050505;
}

/* Remember + Forgot */
.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0 20px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember-forgot a {
    color: #ece6e6;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Login button */
.btn {
    width: 100%;
    height: 45px;
    background: #313030;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    color: #020202;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background: #6a6868;
}

/* Register link */
.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #e9dada;
    font-weight: 600;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
