body {
  margin: 0;
  min-height: 100vh;
  background-image: url('../../images/windows-10-dark-logo-4k-m0-3840x2160.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
    width: 260px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(177, 170, 169);
    color: white;
    padding-top: 20px;
}
.sidebar .logo{
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 20px;
    color: black;
}
.navbar {
    list-style: none;
    padding: 0;
}
.navbar li{
    margin: 8px 0;
    cursor: pointer;
}

.navbar li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 16px;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
}
.navbar li a:hover{
    background: rgb(236, 227, 227);
    padding-left: 25px;
}