<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../images/Gemini_Generated_Image_en4ihoen4ihoen4i.png" />
    <link rel="stylesheet" href="../static/css/Accounts.css">
    <title>Accounts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="sidebar">
        <h1 class="logo">Accounts</h1>
        <ul class="navbar">
            <li class="active">
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span>User Account</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-id-card"></i>
                    <span>Account Details</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-credit-card"></i>
                    <span>Billing</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-exchange-alt"></i>
                    <span>Transactions</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-file-invoice"></i>
                    <span>Invoices</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-university"></i>
                    <span>Bank Account</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-sync"></i>
                    <span>Subscriptions</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Financial Reports</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-shield-alt"></i>
                    <span>Security</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-cog"></i>
                    <span>Account Settings</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>