<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../images/Gemini_Generated_Image_en4ihoen4ihoen4i.png" />
    <link rel="stylesheet" href="../static/css/Projects.css">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="sidebar">
        <h3 class="logo">Projects</h3>
        <ul class="navbar">
            <li class="active">
                <a href="#">
                    <i class="fa-solid fa-folder"></i>
                    <span>All projects</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-plus"></i>
                    <span>Create Project</span>
                </a>
            </li>

             <li>
                <a href="#">
                   <i class="fa-solid fa-chart-simple"></i>
                    <span>Project Status</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    <span>Team Members</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-clock"></i>
                    <span>Project Timeline</span>
                </a>
            </li>

             <li>
                <a href="#">
                   <i class="fa-solid fa-circle-check"></i>
                    <span>Tasks</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-file-lines"></i>
                    <span>Project Reports</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-comment"></i>
                    <span>Project messages</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span>Project Settings</span>
                </a>
            </li>
        </ul>

    </div>
</body>
</html>